body{
    font-family: "oxanium", cursive;
    background-color:#000000;
    color: #ffffff;
    }
    
    body::before{
        content: "";
        background-image: url(../imagens/bg-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 1120px;
        height: 1120px;
        position: absolute;
        z-index: -1;
        opacity: 0.2;
    }
   
    .cabecalho{
        display: flex;        
        justify-content: center;        
        }

    .selecao-de-personagens{
        /* display: flex;  */
        /* display: grid;       */
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
        /* align-items: center; */
        /* gap: 30px; */
        min-width:calc(100vh - 152px);
        justify-content:right;
    }    

    .selecao-de-personagens  .lista-de-personagens{
        display: flex;       
        flex-wrap: wrap;
        gap: 30px;
        justify-content: right;
    }

    .selecao-de-personagens .personagens{        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 37px;
        max-width: 430px;
        gap: 25px;
    }
    .selecao-de-personagens .personagens .titulo{
        font-size: 15px;
        letter-spacing: 4px;
        text-transform: uppercase;
        border-bottom: 2px solid #47f4ff;
        width: 100%;
        text-align: center;
    }

    .selecao-de-personagens .personagem img{
        width: 80px;
        height: 80px;
    }

    .lista-de-personagens .personagem.selecionado{
        box-shadow: 0px 0px 24px 5px #0271f7;

    }

    .personagem-selecionado{        
        text-align: center;
        max-height: 350px;
    }

    .personagem-selecionado .personagem-grande{
        width: 350px;
        height: 350px;        
    }

    .personagem-selecionado .nome-personagem{
      border-bottom: 2px solid #47f4ff;
      letter-spacing: 4px;
      text-transform:uppercase;          
    }
      .personagem-selecionado .descricao-personagem{
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-top: 20px auto;
        width: 80%;
      }


